{{ define "index" }}

{{ template "header" }}

<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
		<h1><a href="/edit?id="> Hello </a></h1>
	</div>
	<div class="col-xs-2">
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
		World
	</div>
	<div class="col-xs-2">
	</div>
</div>

{{ range $key, $value := . }}
<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
		<h1><a href="/edit?id={{$key}}">{{ $value.Title }} Hello </a></h1>
	</div>
	<div class="col-xs-2">
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
		{{ $value.Content }} World
	</div>
	<div class="col-xs-2">
	</div>
</div>
{{ end }}

{{ template "footer" }}

{{ end }}