{{ define "root" }}

<div class="col-xs-4">
    <a href="/kafaiml">Кафедра алгебры и математической логики</a>
</div>
<div class="col-xs-4">
    <a href="/kafvmat">Кафедра высшей математики </a>
</div>
<div class="col-xs-4">
    <a href="/kafvychmat">Кафедра вычислительной математики </a>
</div>
<div class="col-xs-4">
    <a href="/kafedra-vychislitelnykh-sistem">Кафедра вычислительных систем</a>
</div>
<div class="col-xs-4">
    <a href="/kafgitp">Кафедра геометрии и топологии </a>
</div>
<div class="col-xs-4">
    <a href="/kafgidro">Кафедра гидродинамики </a>
</div>
<div class="col-xs-4">
    <a href="/kafdmi">Кафедра дискретной математики и информатики</a>
</div>
<div class="col-xs-4">
    <a href="/kafdur">Кафедра дифференциальных уравнений </a>
</div>
<div class="col-xs-4">
    <a href="/kafedra-matematicheskikh-metodov-geofiziki">Кафедра математических методов геофизики </a>
</div>
<div class="col-xs-4">
    <a href="/kafma">Кафедра математического анализа </a>
</div>
<div class="col-xs-4">
    <a href="/kafmatmod">Кафедра математического моделирования </a>
</div>
<div class="col-xs-4">
    <a href="/kafmatek">Кафедра математической экономики </a>
</div>
<div class="col-xs-4">
    <a href="/kafmmmns">Кафедра моделирования механики макро- и наноструктур</a>
</div>
<div class="col-xs-4">
    <a href="/kafpm">Кафедра прикладной математики</a>
</div>
<div class="col-xs-4">
    <a href="/kafprog">Кафедра программирования</a>
</div>
<div class="col-xs-4">
    <a href="/kaftk">Кафедра теоретической кибернетики </a>
</div>
<div class="col-xs-4">
    <a href="/kaftmeh">Кафедра теоретической механики </a>
</div>
<div class="col-xs-4">
    <a href="/kaftvims">Кафедра теории вероятностей и математической статистики</a>
</div>
<div class="col-xs-4">
    <a href="/kaftf">Кафедра теории функций </a>
</div>

{{ end }}